.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

/* yellow color it changes upon hovering button */
a:hover,
a:focus {
  color: #fcbd20;
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 100;
  letter-spacing: 1px;
}

h5 {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}

/* extending the background */
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("../images/bg-pattern.png"), #B1810B;
  /* fallback for old browsers */
  background: url("../images/bg-pattern.png"), -webkit-linear-gradient(to left, #403B4A, #E7E9BB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../images/bg-pattern.png"), linear-gradient(to right, #000000, #B1810B);
  color: white;
}

/* space between the title and the button (30px) */
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 0px;
}


/* extending the background to cover the footer area (fullscreen) */
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
    font-size: 25px;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
	letter-spacing: 3px;
  }
}
section {
  padding: 100px 0;
}
section h2 {
  font-size: 50px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 0px;
  border-radius: 10px;
  padding: 0px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
